@media (max-width:1500px) {
    header {
        padding: 1rem 5rem;
    }
    .heroSection {
        width: 100%;
        padding: 5rem 5rem;
    }
    .howWork {
        padding: 5rem 5rem;
    }
    .price {
        padding: 5rem 5rem;
    }
    .howMe {
        padding: 4rem 5rem;
    }
    .forma {
        padding: 5rem 5rem;
    }
    .me {
        padding: 4rem 5rem;
    }
    footer {
        padding: 4rem 5rem;
    }
}
@media (max-width:1200px) {
    html {
        font-size: 12px;
    }
}
@media (max-width:900px) {
    .price {
        & .priceList {
            justify-content: space-around;
            & .priceItem1, .priceItem2, .priceItem3, .priceItem4, .priceItem5, .priceItem6, .priceItem7, .priceItem8 {
                width: calc(40% - 3rem);
            }
        }
    }
    .howWork {
        clip-path: polygon(0 0, 100% 5%, 100% 50%, 100% 100%, 0 95%, 0 50%);
        & .sliderHow {
            flex-wrap: wrap;
            justify-content: center;
            & .sliderItem {
                width: 60%;
                height: 20rem;
                border: 3px solid #fff;
                padding: 1rem;
                visibility: hidden;
                display: none;
                margin-bottom: 2rem;

            }
        }
    }
    
    .heroSection {
        flex-direction: column;
        align-items: center;
    }
    .heroSection {
        & .left, .right {
            width: 100%;
        }
        & .left {
            margin-bottom: 1rem;
        }
        & .right {
            display: grid;
            justify-items: flex-end;
        }
    }
    .me {
        & span {
            display: flex
    ;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
    }
    
    .me {
        & span {
            & img {
                margin-right: 2rem;
                height: 30rem;
                margin-bottom: 2rem;
                width: 50%;
            }
        }
    }
    .me {
        & span {
            & span {
                width: 100%;
            }
        }
    }
    
    
            
}
@media (max-width:700px) {
    .heroSection {
        & .left {
            margin-bottom: 3rem;
        }
    }
    .price {
        & .priceList {
            & .priceItem1, .priceItem2, .priceItem3, .priceItem4, .priceItem5, .priceItem6, .priceItem7, .priceItem8 {
                width: calc(50% - 3rem);
            }
        }
    }
    .howMe {
        & .howMeList {
            & .howMeItem {
                &.show {
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
        }
    }
    
}
@media (max-width:580px) {
    
    .sliderItem {
        width: 100%;
    }
    .forma {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        & .left,.right {
            width: 100%;
            & form {
                width: 100%;
                height: 30rem;
                & span {
                    height: 15rem;
                }
            }
        }
    }
    .howMe {
        & h1 {
            margin-bottom: 2rem;
        }
        & .howMeList {
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            align-items: center;
            & .howMeItem {
                width: 50%;
                margin-bottom: 2rem;
            }
        }
    }
    footer {
        & span {
            width: 100%;
            display: flex
    ;
            justify-content: space-between;
            margin-bottom: 1rem;
            flex-direction: column;
        }
    }    
}
@media (max-width:500px) {
    .price {
        & .priceList {
            & .priceItem1, .priceItem2, .priceItem3, .priceItem4, .priceItem5, .priceItem6, .priceItem7, .priceItem8 {
                width: calc(80% - 3rem);
            }
        }
    }
    .me {
        & span {
            & img {
                margin-right: 0;
                width: 100%;
            }
        }
    }
    .howWork {
        & .sliderHow {
            & .sliderItem {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
    header {
        & span {
            width: 100%;
            display: flex
    ;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
    }
    .howMe {
        & .howMeList {
            & .howMeItem {
                width: 75%;
                margin-bottom: 2rem;
            }
        }
    }

    
}
@media (max-width:440px) {
    html {
        font-size: 10px;
    }
}
@media (max-width:390px) {
    .heroSection {
        & .right {
            & form {
                width: auto;
            }
        }
    }
    
    
}
@media (max-width:360px) {
    .me {
        padding: 2rem 2rem;
    }
    .forma {
        padding: 1rem 2rem;
    }
    .howMe {
        padding: 2rem 2rem;
    }
    .price {
        padding: 2rem 2rem;
    }
    .price {
        padding: 2rem 2rem;
    }
    .heroSection {
        width: 100%;
        padding: 2rem 2rem;
    }
    .heroSection {
        & .left {
            & h1 {
                font-size: 2rem;
            }
        }
    }
    
        
    header {
        & .ashki {
            & a {
                color: #fff;
                text-decoration: none;
                padding-right: 1rem;
                font-size: 1rem;
            }
        }
    }
    header {
        & span {
            & h1 {
                font-size: 1.5rem;
            }
        }
    }
        
}
@media (max-width:330px) {
    html {
        font-size: 8px;
    }
    .politica {
        & h1 {
            font-size: 1.5rem;
        }
    }
}
@media (max-width:1920px) {
    
}
@media (max-width:1920px) {
    
}
@media (max-width:1920px) {
    
}
@media (max-width:1920px) {
    
}